{% extends "base.html" %}
{% block content %}

<!-- FORM CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='games/form-css/breadcrumb.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='games/form-css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='games/form-css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='games/form-css/inputs.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='games/form-css/buttons.css') }}">

<div class="form-container">

    {% include "games/form-components/breadcrumb.html" %}
    {% include "games/form-components/header.html" %}

    <div class="form-card">
        <form method="POST">

            {% include "games/form-components/game_info.html" %}
            {% include "games/form-components/team_selection.html" %}
            {% include "games/form-components/venue_section.html" %}
            {% include "games/form-components/score_section.html" %}
            {% include "games/form-components/statistics_section.html" %}
            {% include "games/form-components/actions.html" %}

        </form>
    </div>

</div>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}