<div class="form-section mt-4">
    <h3 class="section-title"><i class="fas fa-user-tie"></i> Management & Staff</h3>
    <div class="form-row">
        <div class="form-group">
            <label>Owner</label>
            <input type="text" name="owner" class="form-control" value="{{ team.owner }}">
        </div>
        <div class="form-group">
            <label>General Manager</label>
            <input type="text" name="generalmanager" class="form-control" value="{{ team.generalmanager }}">
        </div>
        <div class="form-group">
            <label>Head Coach</label>
            <input type="text" name="headcoach" class="form-control" value="{{ team.headcoach }}">
        </div>
         <div class="form-group">
            <label>D-League Affiliate</label>
            <input type="text" name="dleagueaffiliation" class="form-control" value="{{ team.dleagueaffiliation }}">
        </div>
    </div>
</div>
